<% Card::KINDS.keys.each do |kind| %>
  <% if card = profile.cards.find { |card| card.kind.to_sym == kind.to_sym } %>
    <div class="mx-4 mb-4">
      <div class="text-xl font-bold uppercase hidden"><%= t("cards.kinds.#{kind}") %></div>
      <div class="grow text-xl font-bold"><%= t(card.title) %></div>
      <p class="text-lg"><%= card.content %></p>
    </div>
  <% end %>
<% end %>
