<div class="my-5 inline-flex rounded-md shadow-sm" role="group">
    <div class="py-2 px-4 text-sm font-medium text-gray-900 rounded-l-lg border border-gray-200">
        <%= age(profile.born) %> years old
    </div>
    <div class="py-2 px-4 text-sm font-medium text-gray-900 border-y border-gray-200">
        <%= profile.gender %>
    </div>
    <div class="py-2 px-4 text-sm font-medium text-gray-900 rounded-r-md border border-gray-200">
        <%= profile.city %>
    </div>
</div>
