<% if matched?(profile) %>
  <% if Current.user.profile.partnerships.exists?(to_profile: profile) %>
    <%= link_to "Remove #{profile.display_name} as my partner", partnership_url(profile_id: profile.id),
      method: :delete,
      class: "hotwire-native:hidden",
      data: {
        turbo_confirm: "Are you sure you want to remove this profile as your partner?",
        turbo_method: :delete,
        turbo_action: "replace",
        controller: "bridge--button",
        bridge_position: "right",
        bridge_title: "Remove as my partner",
        bridge_image: "person.crop.circle.badge.minus",
        bridge_vibrate: true
      }
    %>
  <% else %>
    <%= link_to "Mark #{profile.display_name} as my partner", partnerships_url(profile_id: profile.id),
        method: :post,
        class: "hotwire-native:hidden",
        data: {
          turbo_confirm: "Are you sure you want to mark this profile as your partner?",
          turbo_method: :post,
          turbo_action: "replace",
          controller: "bridge--button",
          bridge_position: "right",
          bridge_title: "Mark as my partner",
          bridge_image: "person.crop.circle.badge.plus",
          bridge_vibrate: true
        }
    %>
  <% end %>
<% end %>

<% if profile.partnerships.confirmed.any? %>
  <div class="flex flex-col items-center justify-center mt-4">
    <div class="text-sm font-semibold mr-2 w-full text-center">
      Partnered with:
    </div>

    <% profile.partnerships.confirmed.each do |partnership| %>
      <div class="flex flex-row items-center justify-center">
        <%= image_tag partnership.to_profile.images.first.photo.variant(:thumb), class: "w-10 h-10 border-2 rounded-full bg-white", alt: partnership.to_profile.display_name if partnership.to_profile.images.any? && partnership.to_profile.images.first.photo.present? %>
        <div class="text-md font-semibold ml-2">
          <%= partnership.to_profile.display_name %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <% if matched?(profile) && marked_as_partner?(profile) %>
    <div class="flex flex-col items-center justify-center mt-4">
      <div class="text-sm font-semibold mr-2 w-full text-center">
        This user has not yet marked you as their partner. You will appear here when they do.
      </div>
    </div>
  <% end %>
<% end %>
