<div class="mx-auto w-full text-center my-3 md:my-6">
  <ul class="flex flex-col sm:flex-row mx-4 text-sm font-medium text-center text-gray-500 rounded-lg divide-x divide-gray-200 shadow drop-shadow-lg border dark:divide-gray-700 dark:text-gray-400">
    <li class="w-full rounded-lg">
      <%= link_to recommended_profiles_path, class: "inline-block p-4 w-full rounded-l-lg #{action_name == 'recommended' ? 'text-gray-900 bg-blue-50' : 'bg-white hover:text-gray-700 hover:bg-gray-50'}", 'data-turbo-action': 'advance' do %>
        Recommended
      <% end %>
    </li>
    <li class="w-full rounded-lg">
      <%= link_to all_profiles_path, class: "inline-block p-4 w-full rounded-r-lg #{action_name == 'all' ? 'text-gray-900 bg-blue-50' : 'bg-white hover:text-gray-700 hover:bg-gray-50'}", 'data-turbo-action': 'advance' do %>
        Everyone
      <% end %>
    </li>
    <% if false && current_user.groups.any? %>
      <li class="w-full rounded-r-lg">
        <%= link_to groups_profiles_path, class: "inline-block p-4 w-full rounded-r-lg  #{action_name == 'groups' ? 'text-gray-900 bg-blue-50' : 'bg-white hover:text-gray-700 hover:bg-gray-50'}" do  %>
          People in my groups
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
