<li>
  <%= link_to profile, class: "flex flex-col md:flex-row items-center p-2 m-2 shadow bg-white border hover:border-slate-300 rounded-lg" do %>
    <%= render partial: "profiles/header", locals: { profile: profile } %>

    <div class="flex grow basis-1/2 justify-end items-stretch text-center">
      <div class="flex w-full place-items-center">
        <%= render partial: "profiles/details", locals: { profile: profile } %>
      </div>

      <div class="flex w-8 ml-4 hidden md:inline-block">
        <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
        </svg>
      </div>
    </div>
  <% end %>
</li>
