<% content_for(:title, "Discovery") %>

<div class="flex flex-col">
  <% [@profiles.sample].each do |profile| %>
    <%= render partial: "selectable_profile", locals: { profile: profile }  %>
  <% end %>
  <% if @profiles.empty? %>
    <h2>No profiles to show</h2>
  <% end %>
</div>
