<p>
  <b>Fresh.Dating</b> has received a request to reset your password.
</p>
<p>
  You can reset your Fresh.Dating password within the next 15 minutes on
  <%= link_to "this password reset page", edit_password_url(@user.password_reset_token) %>.
</p>
