<p>
  <b>Fresh.Dating</b> <%= t('passwords.reset_request_received') %>
</p>
<p>
  <%= t('passwords.reset_within_15_minutes') %>
  <%= link_to t('passwords.password_reset_page'), edit_password_url(@user.password_reset_token) %>.
</p>
