<%= turbo_frame_tag "pass_#{@profile.id}", class: "group" do %>
  <div class="flex items-center justify-center">
    <div class="inline-flex mt-0 mb-4" role="group">
      <%= form_for([@profile, Pass.new]) do |form| %>
        <%= button_tag(type: :submit, class: "inline-flex items-center mx-auto w-36 py-2 px-4 text-sm text-center font-medium text-slate-700 border rounded-full hover:underline hover:font-bold focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 group") do %>
          <svg class="w-6 h-6 mr-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          Pass
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
