<% content_for(:title, "no_title") %>
<div>
  <div class="flex flex-col justify-center items-center">
    <img src="fresh_dating_logo.png" class="size-24 mt-8" alt="Fresh Dating Logo" />
    <div class="text-5xl">
      <span class="font-thin font-sans text-[#0b0132] dark:text-white">Fresh</span>
      <span class="font-black font-mono text-[#0b0132] dark:text-white">Dating</span>
    </div>

    <p class="text-lg w-full px-8 py-8 text-center text-justify">
      We're a small team from Canada. No growth hacks, no gimmicks. Just a belief: dating should feel better. More honest. More human. We don't believe in gatekeeping connection. The basics are free, forever. Fair pricing, always.
    </p>
  </div>

  <%= link_to "/recede_historical_location", "/recede_historical_location", class: "hotwire-native:hidden", data: {
    controller: "bridge--button",
    bridge_position: "right",
    bridge_title: "Done",
    bridge_vibrate: true
  } %>
</div>
