<div class="fixed bottom-[-4em] h-24 w-full bg-gray-800 text-center py-2">
  <a href="/a" class="text-white px-4 py-2 inline-block hover:bg-gray-300 hover:text-black">Link A</a>
  <a href="/b" class="text-white px-4 py-2 inline-block hover:bg-gray-300 hover:text-black">Link B</a>
  <a href="/c" class="text-white px-4 py-2 inline-block hover:bg-gray-300 hover:text-black">Link C</a>
</div>
