<%
active_tab_classes = "inline-block p-2 md:p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500 whitespace-nowrap"
inactive_tab_classes = "inline-block p-2 md:p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-100 hover:border-gray-300 dark:hover:text-gray-300 whitespace-nowrap"
%>

<div class="text-xs sm:text-md md:text-lg font-medium text-center text-gray-300 dark:text-gray-400 dark:border-gray-700 w-full">
    <div class="flex flex-wrap justify-between items-center w-full">
        <div class="flex my-2 mx-4">
            <h1 id="title" title="Fresh.Dating"><span class="text-md md:text-3xl">❤</span><span class="text-md md:text-3xl hidden md:inline">Fresh.Dating</span></h1>
        </div>
        <ul class="flex md:order-1">
            <% if %w[profiles images].include? controller_name %>
                <li class="mr-2">
                  <%= link_to profiles_path, class: (["index", "show"].include?(action_name) && controller_name == "profiles" && current_user.profile != @profile ? active_tab_classes : inactive_tab_classes) do %>
                    <span title="Discover" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 9a2 2 0 114 0 2 2 0 01-4 0z"></path><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a4 4 0 00-3.446 6.032l-2.261 2.26a1 1 0 101.414 1.415l2.261-2.261A4 4 0 1011 5z" clip-rule="evenodd"></path></svg> <span class="hidden lg:inline">Discover</span></span>
                  <% end %>
                </li>
                <li class="mr-2">
                  <%= link_to current_user.profile, class: (@profile == current_user.profile && action_name == 'show' ? active_tab_classes : inactive_tab_classes) do %>
                    <span title="My Profile" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg><span class="hidden lg:inline"> My profile</span>
                  <% end %>
                </li>
                <li class="mr-2">
                  <%= link_to profile_images_path(current_user.profile), class: (action_name == 'index' && controller_name == "images" ? active_tab_classes : inactive_tab_classes) do %>
                    <span title="My photos" class="whitespace-nowrap"><svg class="w-6 h-6 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd"></path></svg><span class="hidden lg:inline"> My photos</span>
                  <% end %>
                </li>
            <% end %>
        </ul>
        <% if user_signed_in? %>
            <ul class="flex justify-self-end flex order-2">
                <li class="mr-2" data-controller="dropdown">
                    <div class="trigger">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <div class="target hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-1 text-sm font-light text-gray-700 dark:text-gray-200">
                            <li class="whitespace-nowrap">
                              <%= link_to(destroy_user_session_path, class: "block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?" }) do %>
                                Sign out
                              <% end %>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        <% end %>
    </div>
</div>

