<%
active_tab_classes = "inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500"
inactive_tab_classes = "inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
%>

<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px">
        <% if %w[profiles images].include? controller_name %>
            <li class="mr-2">
                <%= link_to "My profile", current_user.profile, class: (action_name == 'show' ? active_tab_classes : inactive_tab_classes) %>
            </li>
            <li class="mr-2">
                <%= link_to "Edit my profile", edit_profile_path(current_user.profile), class: (action_name == 'edit' ? active_tab_classes : inactive_tab_classes) %>
            </li>
                <%= link_to "My photos", profile_images_path(current_user.profile), class: (action_name == 'index' && controller_name == "images" ? active_tab_classes : inactive_tab_classes) %>
            </li>
            </li>
                <%= link_to "Search", profiles_path, class: (action_name == 'index' && controller_name == "profiles" ? active_tab_classes : inactive_tab_classes) %>
            </li>
        <% end %>
    </ul>
</div>
