<nav class="w-full">
  <div class="container flex flex-wrap justify-between mx-auto">
    <div class="flex-none my-0" id="title">
      <%= link_to "â¤ Fresh.Dating", root_path %>
    </div>

    <% if user_signed_in? %>
        <div class="mx-4 my-4">
            <ul>
                <li>
                    <%= link_to("Sign out", destroy_user_session_path, class: "block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to sign out?" }) %>
                </li>
            </ul>
        </div>
    <% end %>
  </div>
</nav>

