<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", event: @event %>

  <%= link_to "Cancel", events_path, data: {
    controller: "bridge--button",
    bridge_position: "left",
    bridge_title: "Cancel",
    bridge_vibrate: true
  }, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
