<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @event %>

    <div class="flex flex-row gap-2">
      <% if authenticated? && @event.creator == Current.user %>
        <%= link_to "Edit this event", edit_event_path(@event), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 dark:bg-gray-500 text-white dark:text-slate-100 inline-block font-medium" %>
        <%= button_to "Destroy this event", @event, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 dark:bg-gray-500 text-white dark:text-slate-100 font-medium" %>
      <% end %>
    </div>
  </div>
</div>
