<%
active_tab_classes = "flex items-center p-2 border-t border-r border-l md:border-0 md:border-l md:border-t md:border-b md:pr-0 rounded-t-lg md:rounded-none md:rounded-l-lg md:rounded-l-lg text-base font-normal text-gray-900 bg-white"
inactive_tab_classes = "flex items-center p-2 border-t border-r border-l md:border-0 md:border-l md:border-t md:border-b md:border-l md:pr-0 rounded-t-lg md:rounded-none md:rounded-l-lg text-base font-normal text-gray-900 hover:bg-gray-100"
%>
<section class="w-full md:w-64 z-10 relative top-px md:left-px" aria-label="Sidebar">
  <div class="pl-3 md:pl-4 pt-4 overflow-y-auto rounded">

    <ul class="flex flex-row md:flex-col md:space-y-2 md:space-x-0">

      <li>
        <%= link_to settings_public_path, class: (current_page?(controller: 'settings', action: 'public') ? active_tab_classes : inactive_tab_classes) do %>
          <svg class="w-6 h-6 m-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
<path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 100 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186l9.566-5.314m-9.566 7.5l9.566 5.314m0 0a2.25 2.25 0 103.935 2.186 2.25 2.25 0 00-3.935-2.186zm0-12.814a2.25 2.25 0 103.933-2.185 2.25 2.25 0 00-3.933 2.185z"></path>
</svg>
          <span class="hidden md:inline">Public</span>
        <% end %>
      </li>

      <li>
        <%= link_to settings_invite_path, class: (current_page?(controller: 'settings', action: 'invite') ? active_tab_classes : inactive_tab_classes) do %>
          <svg class="w-6 h-6 m-2 text-gray-500 group-hover:text-gray-900" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
          <span class="hidden md:inline">Invite a friend</span>
        <% end %>
      </li>

      <li>
        <%= link_to settings_notifications_path, class: (current_page?(controller: 'settings', action: 'notifications') ? active_tab_classes : inactive_tab_classes) do %>
          <svg class="w-6 h-6 m-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M9.348 14.651a3.75 3.75 0 010-5.303m5.304 0a3.75 3.75 0 010 5.303m-7.425 2.122a6.75 6.75 0 010-9.546m9.546 0a6.75 6.75 0 010 9.546M5.106 18.894c-3.808-3.808-3.808-9.98 0-13.789m13.788 0c3.808 3.808 3.808 9.981 0 13.79M12 12h.008v.007H12V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"></path></svg>
          <span class="hidden md:inline">Notifications</span>
        <% end %>
      </li>

      <li>
        <%= link_to settings_distance_path, class: (current_page?(controller: 'settings', action: 'distance') ? active_tab_classes : inactive_tab_classes) do %>
          <svg class="w-6 h-6 m-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418"></path></svg>
          <span class="hidden md:inline">Distance</span>
        <% end %>
      </li>

    </ul>

  </div>
</section>
