<div class="w-full bg-black">
  <div class="mx-auto" style="max-width: 1024px;">
    <% if current_page?(settings_path) %>
      <div class="flex flex-row md:order-last w-10/12 mx-auto pb-2 md:mb-12 text-gray-200 text-center">
        <svg class="w-10 h-10 mr-4" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 010 3m0-3a1.5 1.5 0 000 3m0 9.75V10.5"></path>
        </svg>
        <p class="text-2xl font-bold"><%= t('navigation.settings') %></p>
      </div>
    <% else %>
      <div class="p-2">
        <%= link_to :back, class: "text-2xl font-bold text-white" do %>
          <div class="flex flex-row items-center h-12 ">
            <div>
              <svg class="w-6 h-6 my-auto" fill="none" stroke="white" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path></svg>
            </div>
            <span class="my-auto"><%= t('settings.back') %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
