<%= render "settings/title" %>

<div class="w-full">
  <div class="flex w-10/12 mx-auto" style="max-width: 1024px;">
    <div class="pt-4 mx-2 mx-auto flex flex-col md:flex-row w-full">
      <%= render "settings/nav" %>

      <section class="bg-white w-full rounded-lg p-3 border">
        <%= render "settings/public" %>
      </section>
    </div>
  </div>
</div>
