<%= turbo_frame_tag "settings_frame" do %>
  <div class="m-2">
    <h2 class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Share my profile publicly</h2>

    <p class="my-4">Get your profile out there.  Allow others to see your profile by making it available for Facebook groups and other places.</p>

    <div>
      <div data-controller="clipboard" data-clipboard-success-content="Copied!" class="mt-1 flex flex-col md:flex-row rounded-md shadow-sm">
        <input class="py-3 px-2 outline-none flex-1 block rounded-none rounded-t md:rounded-l-md text-xs sm:text-sm border border-gray-300" type="text" value="<%= "#{root_url}public/#{current_user.profile.public_code}" %>" data-clipboard-target="source" disabled="true" />

        <button class="px-3 py-2 md:py-0 focus:outline-none rounded-b-md md:rounded-r-md border border-t-0 md:border-l-0 border-gray-300 bg-gray-50 text-gray-500 text-sm" type="button" data-action="clipboard#copy" data-clipboard-target="tag" disabled="true">Copy to clipboard</button>
      </div>
    </div>

  </div>
<% end %>
