<%= turbo_frame_tag "request_more" do %>
  <div class="h-12 w-full flex justify-center items-center">
    <%= link_to "Load more", request_more_room_path(room, before: @messages.map(&:id).min), class: "", data: { turbo_stream: true, "scroll-loader-target": 'button' } %>

    <div data-scroll-loader-target="spinner" data-room-id="<%= room.id %>" class="hidden">
      <%= render partial: "shared/spinner" %>
    </div>
  </div>
<% end %>
