<section class="flex justify-between gap-1 p-4">
  <div>
    <h1 id="title" title="Fresh.Dating"><span class="text-md md:text-3xl">❤</span><span class="text-md md:text-3xl hidden md:inline">Fresh.Dating</span></h1>
  </div>
  <div class="text-xs md:text-sm pt-4">
    <span class="hidden sm:inline">Already a member?</span> <%= link_to 'Sign in', new_user_session_path, class: 'text-green-400 hover:text-green-500 hover:underline' %>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="px-2 mx-auto sm:py-16 lg:px-6">
        <div class="max-w-screen-md mx-auto text-center">

            <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-gray-900 dark:text-white">A refreshingly simple, remarkably authentic, experimental dating experience.</h2>

            <p class="mb-8 font-light text-gray-500 text-2xl dark:text-gray-400">
              Finding love is hard, but it doesn't have to be. Sadly lots of dating sites makes things worse with false promises and innefective upsells.
              Fresh.Dating gives you what you need to find love without having to break the bank.
            </p>

            <div class="flex flex-col">
              <%= link_to new_user_registration_path, class: "inline-flex items-center justify-center px-4 py-2.5 text-xl font-medium text-center text-white bg-green-500 rounded-lg hover:bg-green-600 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900" do %>
                Get started
              <% end %>
            </div>

            <div class="flex w-full mx-auto mt-10 place-content-center">
              <div class="border shadow bg-gray-50 rounded-lg p-4 flex flex-row items-stretch w-fit">
                <div class="self-center mr-4">
                  <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                </div>
                <div>Fresh.Dating is a private beta project.<div>
              </div>
            </div>


        </div>
    </div>
</section>
