<div class="text-slate-200">
  <h1 class="home_header">Fresh dating</h1>
  <p class="text-inherit">
    We show you the people you'd most likely be compatible with. No expensive paywalls. No lies. No carrot dangling in front of you.
  </p>
</div>
