<%= turbo_frame_tag "onboarding_fourth_step" do %>
  <% if @images.any? %>
    <div class="grid justify-items-stretch">
      <div class="w-fit justify-self-center mr-4 mt-10">
        <%= button_to "Finish my profile", Current.user.profile, method: :get, class: "justify-self-end text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-64 px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
    </div>
  <% else %>
    <div class="flex w-full mx-auto mt-10 place-content-center">
      <div class="border shadow bg-gray-50 rounded-lg p-4 flex flex-row items-stretch w-fit">
        <div class="self-center mr-4">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
        </div>
        <div><%= t('images_upload_at_least_one_to_finish') %><div>
      </div>
    </div>
  <% end %>
<% end %>
