<% content_for(:title, "Say something about you") %>

<div data-controller="onboarding">
  <%= render 'steps' unless hotwire_native? %>

  <div class="flex flex-col h-64">
    <%= render 'cards/card', kind: 'about_me' %>

    <%= render 'onboarding/fifth_step_button' %>
  </div>

</div>
