<% content_for(:title, "Your best shot") %>

<div class="w-full px-4" data-controller="onboarding">
  <%= render 'steps' unless hotwire_native?  %>

  <%= render 'images/images', images: @images %>

  <%= render 'onboarding/fourth_step_button', images: @images %>
</div>

