<% content_for(:title, "My Photos") %>

<div class="flex flex-col mx-auto" style="max-width: 1024px;">
  <%= render 'images/images', images: @images %>
</div>

<%= link_to "Done", "refresh_historical_location",
    class: "hidden",
    data: {
      controller: "bridge--button",
      bridge_position: "right",
      bridge_title: "Done",
      bridge_vibrate: true
    }
%>
