
<div class="flex flex-col">
  <div class="w-100% m-2 md:m-8">
    <%= render 'images/images', images: @images %>
  </div>

  <div id="add_images" class="m-2 md:m-8">
    <%= render "form", image: @image %>
  </div>
</div>
