<!DOCTYPE html>
<html>
  <head>
    <title><%= @room.profiles.map(&:display_name).to_sentence %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <%= render 'layouts/header' %>
  </head>

  <body class="text-slate-700" data-user-id="<%= authenticated? ? Current.user.id : -1 %>">
      <%= yield %>
  </body>
</html>
