<!DOCTYPE html>
<html>
  <head>
    <title>Fresh - Honest dating</title>
    <%= render 'layouts/header' %>
  </head>

  <body class="text-slate-700">
    <div class="flex flex-col">
      <main class="w-full p-0 m-0">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
